* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Give some styling to the div element */
div {
  background-color: #f1f1f1;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid #aaaaaa;
}
